[user]
	name = jaborandi
	email = support@excsitement.com
[push]
	default = simple
[format]
	pretty = "%h %s [%ar]"
[alias]
    re = reflog --pretty=reflog
	lg = "!f() { git log --reverse --ancestry-path $1^..HEAD | head $2; }; f"
[pretty]
	reflog = "%ar %h %gs"
[core]
	mergeoptions = --no-edit
	fileMode = false
	quotePath = false
	pager = 
[init]
	templatedir = "~/.git_template"
[remote]
	pushDefault = origin
[log]
	date = format:%d-%m-%y %H:%M
