[user]
	name = jaborandi
	email = support@excsitement.com
[push]
	default = simple
[format]
	pretty = "%ad %h %s [%ar]"
[alias]
    re = reflog --pretty=reflog
[pretty]
	reflog = "%ar %h %gs"
[core]
	mergeoptions = --no-edit
	fileMode = false
[init]
	templatedir = "~/.git_template"
